<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cylee.lib">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 仅debug模式下dump OOM文件需要以下权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 记录logcat日志功能 所需的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application/>
</manifest>
